.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;    
    font-family: sans-serif;
}
.form-body{
    text-align:center;
    padding: 20px 10px;

}
.form-body > *{
    padding: 5px;
}
.form__label{
    width: 50%;
}
.form__input{
    width:50%;
}

.footer{
    display: flex;
    justify-content:center;
}
.error {
    color: red;
    font-size: 14px;
  }
  .finalizado {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    background-color: #f8f9fd;
  }
  .title {
    display: flex;
    font-size: 25px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .finalizado-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
input[type="text"],
input[type="password"],
input[type="email"], 
input[type="date"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
button[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  button[type="submit"]:hover {
    background: #6cf0c2;
  }
  .loginFooter{
    margin-top: 50px;
  }
  .notRegistered{
    display: flex;
    justify-content: center;
  }
  .cadastrar{
    display: flex;
    justify-content: center;
    text-decoration: none;
    
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    padding: 10px 20px;
  }
  .nascimento{
    font-size: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cpf{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
